.orenge{
    background-color: orange;
}

.blue{
    background-color: blue;
}

.black{
    background-color: black;
}
.purple{
    background-color: purple;
    color :#fff;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.bold{
    font-weight: bold;
}